:root {
  --primary: rgb(31, 31, 31);
  --secondary: rgb(20, 20, 20);
  --third: rgb(56, 56, 56);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Poppins", "sans-serif";
  background-color: rgb(20, 20, 20);
  color: rgb(0, 0, 0);
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* LOGO */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary);
  font-style: italic;
}

/* Main Navbar */

.navbar .navbar-nav a {
  color: var(--secondary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.8rem;
}

.navbar .navbar-nav a:active {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.23rem solid black;
  transform: scale(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scale(0.7);
}

.navbar .navbar-nav #hubungi-kami {
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  padding-top: 1rem;
  border-radius: 3rem;
  transition: 0.2s ease-in;
}

.navbar .navbar-nav #hubungi-kami:hover {
  background-color: black;
}

/* Navbar Extra */

.navbar .navbar-extra a {
  color: rgb(0, 0, 0);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:active {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../IMAGE/GAMBAR HOME.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem 7%;
  max-width: 250rem;
  line-height: 6rem;
  cursor: default;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.699) 1%,
    rgba(255, 255, 255, 0) 7%
  );
}

.hero .content h1 {
  padding: 1rem 0.5rem;
  font-weight: 300;
  font-size: 4rem;
  color: var(--primary);
}

.hero .content h2 {
  font-size: 5rem;
  font-weight: 500;
  color: var(--primary);
  text-shadow: black 2px 2px 2px;
}

/* Tentang Kami */

.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  cursor: default;
  filter: drop-shadow(black 1px 1px 1px);
}

.about .row {
  display: flex;
  align-items: center;
  margin-top: -2rem;
}

.about .row .about-img {
  flex: 1 1 45rem;
  padding: 1rem 1rem;
}

.about .row .content {
  flex: 1 1 65rem;
  padding: 0 1rem;
  color: #ffffff;
}

.about .row .about-img img {
  width: 100%;

  transition: 0.5s;
  object-fit: cover;
  object-position: center;
}

.about .row .about-img img:hover {
  transform: scale(1.1);
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  cursor: default;
}

.about .row .content p {
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1rem;
  cursor: default;
}

.about .row .content p span {
  color: #636363;
}

/* CTA BIKIN SEKARANG */
.cta-bikin {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 56, 56);
  gap: 2rem;
  padding: 3rem 0;
}

.cta-bikin h4 {
  font-size: 2rem;
  color: #ffffff;
  cursor: default;
}

.cta-bikin a {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--primary);
  color: #ffffff;
  box-shadow: black 2px 2px 4px;
  transition: 0.3s linear;
}

.cta-bikin a:hover {
  color: rgb(247, 247, 247);
  background-color: rgb(0, 0, 0);
}

/* GALERII */

.galeri .background {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.galeri .background::after {
  content: "";
  display: block;
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0;
  background: linear-gradient(
    0180deg,
    rgba(0, 0, 0, 0.699) 1%,
    rgba(0, 0, 0, 0) 7%
  );
}

.galeri h2 {
  text-align: center;
  font-size: 5rem;
  color: var(--primary);
  filter: drop-shadow(black 1px 1px 1px);
  cursor: default;
}

/* Card Slider */

.container-foto {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list .card-item .card-link {
  user-select: none;
  width: 400px;
  display: block;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.514) 0px 0px 10px;
  border: 2px solid transparent;
  padding: 2rem;
  border-radius: 1rem;
  transition: linear 0.2s;
}

.card-list .card-item .card-link:hover {
  border-color: var(--primary);
}

.card-list .card-item .card-link:active {
  border-color: var(--primary);
}

.card-list .card-item {
  width: 100%;
  list-style: none;
}

.card-list .card-link .card-image {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-list .card-link .badge {
  color: var(--primary);
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card-list .card-link p {
  color: var(--primary);
}

.card-list .card-link .card-button {
  margin-top: 0.5rem;
  height: 2rem;
  width: 2rem;
  color: #000000;
  border-radius: 50%;
  background: none;
  border: 2px solid var(--primary);
  transition: linear 0.3s;
}

.card-list .card-link:hover .card-button {
  background-color: var(--primary);
  color: white;
}

.swiper {
  width: 100%;
}

/* EDIT SWIPER */

.foto-wrapper {
  max-width: fit-content;
  margin: 0 5rem 3rem;
  display: flex;
  padding: 20px 10px;
  overflow: hidden;
}

.swiper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background-color: var(--primary);
}

.swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper .swiper-button-prev {
  color: var(--primary);
}

.swiper .swiper-button-next {
  color: var(--primary);
}

.swiper .swiper-button-prev:hover {
  color: #636363;
  transform: scale(1.1);
}

.swiper .swiper-button-next:hover {
  color: #636363;
  transform: scale(1.1);
}

/* Footer */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1rem;
  bottom: 0;
}

#footer .social-icons {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100;
}

.social-icons a {
  font-size: 1.9rem;
  color: #ececec;
  background-color: var(--third);
  padding: 5px 7.5px 5px 7.5px;
  margin: 10px;
  border-radius: 50%;
  transition: 0.2s linear;
}

.social-icons a:hover {
  background-color: #ffffff;
  color: var(--secondary);
}

.footer-bottom {
  margin-top: 1rem;
  font-weight: 300;
  color: #ffffff;
  cursor: default;
}

.footer-bottom .copyright a {
  color: rgb(119, 119, 119);
}

/* Media Queries */
/* 
 *
 *
 *
 *
 *
 *
 **
 *
 *
 *
 *
 **
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 **
 *

/* Lower Asus Tuf F15 Laptop */

@media (max-width: 1616px) {
  .hero .content {
    line-height: 4rem;
    margin-top: 4rem;
  }

  .hero .content h1 {
    font-size: 2rem;
  }

  .about .row {
    margin-top: -4rem;
  }

  .about .row .about-img {
    flex: 1 1 55rem;
    padding: 2rem 2rem;
  }

  .about .row .content {
    flex: 1 1 5 5rem;
    padding: 0 1rem;
  }
  .about .row .content h3 {
    font-size: 1.7rem;
  }

  .about .row .content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-bottom: 0.2rem;
  }

  /* Galeri 1616 px */
  .galeri h2 {
    margin-top: -1rem;
    margin-bottom: -4rem;
  }
}

/* Mini Laptop */

@media (max-width: 1400px) {
  .about .row {
    margin-top: 1rem;
  }

  .about .row .about-img {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
  }

  .about .row .content {
    flex: 1 1 65rem;
    padding: 0 1rem;
  }
  .about .row .content h3 {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }

  .about .row .content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
  }

  /* CTA BIKIN SEKARANG */
  .cta-bikin {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    gap: 2rem;
    padding: 2rem 0;
  }

  .cta-bikin h4 {
    font-size: 2rem;
    color: #ffffff;
  }

  .cta-bikin a {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: black;
    color: #ffffff;
    box-shadow: black 2px 2px 4px;
    transition: 0.3s linear;
  }

  .cta-bikin a:hover {
    color: rgb(247, 247, 247);
    background-color: var(--primary);
  }
}

/* Ipad/Tablet */

@media (max-width: 985px) {
  html {
    font-size: 90%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding: 2rem;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f7f7f7;
    width: 30rem;
    height: 100vh;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid #f7f7f7;
    transition: 0.4s;
  }

  .navbar .navbar-extra a:hover {
    display: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover {
    color: black;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav #hubungi-kami {
    transform: scale(1.5);
  }
  .hero .content {
    line-height: 4rem;
  }

  .hero .content h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .about {
    padding: 12rem 7% 1.4rem;
  }

  .about h2 {
    font-size: 5rem;
  }

  .about .row {
    margin-top: -1rem;
    flex-direction: column;
  }

  .about .row .about-img {
    flex: 1 1 25rem;
    padding: 2rem 2rem;
  }

  .about .row .content {
    margin-top: -1rem;
    flex: 1 1 65rem;
    padding: 0 1rem;
  }
  .about .row .content h3 {
    font-size: 2.3rem;
    margin-bottom: 0.7rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 01.5rem;
  }

  /* CTA BIKIN SEKARANG */

  .cta-bikin {
    margin-top: -10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    gap: 2rem;
    padding: 2rem 0;
  }

  .cta-bikin a:hover {
    background-color: #000000;
  }

  .cta-bikin a:active {
    background-color: #636363;
  }

  .container-foto {
    margin-top: -1rem;
  }

  /* Galeri 985px */

  .galeri h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }

  .foto-wrapper {
    margin: 0 35px 30px;
    overflow: visible;
    margin-right: 2.7rem;
  }
  .foto-wrapper .swiper-button-prev {
    display: none;
  }

  .foto-wrapper .swiper-button-next {
    display: none;
  }
}

/* Lower Tablet */

@media (max-width: 690px) {
  html {
    font-size: 80%;
  }
  .navbar {
    padding: 2rem;
  }

  .navbar .navbar-nav #hubungi-kami {
    transform: scale(1.2);
  }

  .hero .content {
    margin-top: 10rem;
    line-height: 2.8rem;
  }

  .hero .content h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .hero .content h2 {
    font-size: 4rem;
    text-shadow: #000000 1px 1px 1px;
  }

  .navbar .navbar-nav {
    width: 35rem;
  }

  .navbar .navbar-nav.active {
    right: -30%;
  }

  .hero .content .cta {
    margin-top: 3rem;
  }

  .about h2 {
    font-size: 4rem;
  }

  .about .row {
    margin-top: 1rem;
  }

  .about .row .about-img {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
  }

  .about .row .about-img {
    width: 90%;
  }

  .about .row .content {
    margin-top: -8rem;
    flex: 1 1 85rem;
    padding: 0 1rem;
  }
  .about .row .content h3 {
    font-size: 2.2rem;
  }

  .about .row .content p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }

  /* CTA BIKIN SEKARANG */

  .cta-bikin {
    margin-top: -8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    gap: 2rem;
    padding: 2rem 0;
  }

  .cta-bikin h4 {
    font-size: 1.5rem;
    display: none;
  }

  .cta-bikin a {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: black;
    color: #ffffff;
    box-shadow: black 2px 2px 3px;
    transition: 0.3s linear;
  }

  .cta-bikin a:hover {
    color: rgb(247, 247, 247);
    background-color: rgb(0, 0, 0, 0.425);
  }

  /* Galeri 690px */

  .galeri h2 {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  .galeri .background {
    padding: 9rem 0rem;
  }

  .card-list .card-link .card-button {
    width: 3rem;
    height: 3rem;
  }

  .card-list .card-item .card-link {
    margin-left: 2rem;
  }

  /* Mobile */

  @media (max-width: 500px) {
    html {
      font-size: 70%;
    }
    .navbar {
      padding: 2rem;
    }
    .navbar .navbar-nav {
      width: 35rem;
    }

    .navbar .navbar-nav #hubungi-kami {
      border-radius: 30px 0 0 30px;
      margin-right: 10.2rem;
      transform: scale(1.2);
    }
  }

  .hero .content h1 {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  .hero .content h2 {
    font-size: 4.5rem;
  }

  .about h2 {
    font-size: 4rem;
  }

  .about .row {
    margin-top: 1rem;
  }

  .about .row .about-img {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
  }

  .about .row .about-img {
    width: 90%;
  }

  .about .row .content {
    margin-top: -10rem;
    flex: 1 1 85rem;
    padding: 0 1rem;
  }
  .about .row .content h3 {
    font-size: 2.2rem;
  }

  .about .row .content p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.9rem;
  }

  /* Galeri 500px */

  .galeri h2 {
    margin-top: -2rem;
  }
}

/* Mini Mobile */

@media (max-width: 405px) {
  html {
    font-size: 70%;
  }
  .navbar {
    padding: 2rem;
  }
  .navbar .navbar-nav {
    width: 30rem;
  }

  .navbar .navbar-nav #hubungi-kami {
    border-radius: 30px 0 0 30px;
    margin-right: 10rem;
    transform: scale(1.3);
  }

  .hero .content {
    margin: 0.2rem;
    margin-top: 3rem;
  }

  .hero .content h1 {
    font-size: 1.2rem;
    margin-top: 7rem;
  }

  .hero .content h2 {
    font-size: 3.5rem;
  }

  .about h2 {
    font-size: 3rem;
  }

  .about .row {
    margin-top: 1rem;
  }

  .about .row .about-img {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
  }

  .about .row .about-img {
    width: 90%;
  }

  .about .row .content {
    margin-top: -17rem;
    flex: 1 1 85rem;
    padding: 0 1rem;
  }

  .cta-bikin {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }
}
