:root {
  --primary: #0f4dbe;
  --secondary: #f11b1b;
  --third: rgb(0, 19, 82);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Poppins", "sans-serif";
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  min-height: 1000vh;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(15, 77, 190);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* LOGO */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--secondary);
}

/* Main Navbar */

.navbar .navbar-nav {
  margin-right: 10rem;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.8rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(0, 19, 82);
  transition: 0.3s linear;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.23rem solid var(--secondary);
  transform: scale(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scale(0.7);
  transition: 0.3s linear;
}

/* Navbar Extra */

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary);
  transition: 0.3s linear;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../IMAGE/GAMBAR HOME.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(248, 248, 248) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem 7%;
  max-width: 250rem;
  line-height: 6rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: rgb(61, 61, 61);
}

.hero .content h2 {
  font-size: 5rem;
  color: #0f4dbe;
  text-shadow: black 2px 2px 2px;
}

.hero .content h2 span {
  color: #f11b1b;
}

/* Tombol Bikin sekarang */

.hero .content .cta {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 25rem;
  display: inline-block;
  padding: 0rem 2rem;
  background-color: #0f4dbe;
  border-radius: 2rem;
  box-shadow: black 2px 2px 4px;
  transition: 0.3s linear;
}

.hero .content .cta:hover {
  color: rgb(247, 247, 247);
  background-color: var(--secondary);
}

/* Media Queries */
/* 
 *
 *
 *
 *
 *
 *
 *
/* Lower Asus Tuf F15 Laptop */

@media (max-width: 1533px) {
  .hero .content {
    line-height: 4rem;
  }

  .hero .content h1 {
    font-size: 2rem;
  }
  .hero .content .cta {
    margin-top: 1.5rem;
  }
}

/* Ipad/Tablet */

@media (max-width: 985px) {
  html {
    font-size: 90%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding: 2rem;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f7f7f7;
    width: 37rem;
    height: 100vh;
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: -40%;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 19, 82);
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover {
    color: black;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .hero .content {
    line-height: 4rem;
  }

  .hero .content h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

/* Lower Tablet */

@media (max-width: 690px) {
  html {
    font-size: 80%;
  }
  .navbar {
    padding: 2rem;
  }

  .hero .content h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav {
    width: 25rem;
  }

  .navbar .navbar-nav.active {
    right: -30%;
  }

  .hero .content .cta {
    margin-top: 3rem;
  }
}

/* Mobile */

@media (max-width: 450px) {
  html {
    font-size: 70%;
  }
  .navbar {
    padding: 2rem;
  }
  .navbar .navbar-nav {
    width: 25rem;
  }
}
